@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}

/* Header  */
header {
  background-color: #3dbeff;
}

.container {
  height: 80px;
  padding: 4px 30px 4px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}

li {
  margin: 0 1em;
}

.navbar a:hover {
  color: rgba(255, 255, 255, 0.696);
  transition: all 1s;
}

button {
  font-family: "Fraunces", serif;
  font-weight: 100;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: #fff;
}

button:hover {
  background-color: whitesmoke;
  transition: all 0.4s;
}

/* Hero section  */
.background {
  background: url(/images/desktop/image-header.jpg) no-repeat scroll center;
  width: 100%;
  height: 650px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.heading {
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.heading h1 {
  font-size: 4.5vw;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 8px;
}

/*  card section  */
.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.text-card {
  background-color: #fffbf8;
  font-family: "Fraunces", sans-serif;
  padding: 0 50px 50px 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.text-card p {
  margin: 25px 0 2px 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  color: rgba(47, 46, 46, 0.737);
}

.text-card span {
  font-size: 0.8vw;
  margin-top: 30px;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  text-decoration-color: #fcd462;
}

.about {
  margin: 50px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffbf8;
}

.about h3 {
  font-size: 24px;
  font-family: "Fraunces", sans-serif;
  color: rgba(39, 33, 33, 0.639);
  letter-spacing: 8px;
}

/* Testimonials section  */
.testimonial-bg {
  margin-top: -10px;
  padding-top: 50px;
  background-color: #fffbf8;
}

.testimonials {
  display: flex;
  width: 100%;
  background-color: #fffbf8;
  padding-bottom: 70px;
}

.person {
  width: 30%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person img {
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.person span {
  color: rgba(0, 0, 0, 0.847);
  font-size: 14px;
  font-family: "Fraunces", sans-serif;
  margin: 40px 0 10px 0;
}

.person p {
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  color: rgba(0, 0, 0, 0.377);
}

.person :nth-child(4) {
  color: rgba(63, 42, 42, 0.466);
  font-size: 11px;
}

/* Gallery section */
.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.gallery-image img {
  background-size: cover;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Footer  */
footer {
  background-color: #90d4cf;
}

.footer-container {
  margin-top: -7px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo h2 {
  font-size: 26px;
  font-weight: 1000;
  font-family: "Fraunces", sans-serif;
  color: #48665b;
}

.footer-about {
  gap: 20px;
  display: flex;
  list-style-type: none;
  margin: 25px 0 50px 0;
}

.footer-about a {
  color: #48665b;
}

.footer-social {
  padding: 0 20px 0 20px;
  display: flex;
  list-style-type: none;
}

/* Footer Credits section */

.copy-right-sec {
  padding: 1.5rem;
  background: #82074a;
  color: #fff;
  text-align: center;
}

.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}

.copy-right-sec a {
  padding-left: 4px;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

/* hamburger */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Media Query */
@media only screen and (max-width: 650px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-item a {
    color: #686464eb;
    font-size: 18px;
  }
  .nav-item a:hover {
    color: #000000;
    transition: all 1s;
  }

  button {
    background-color: yellow;
    padding: 15px 25px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 650px) {
  .background {
    background-image: url(/images/mobile/image-header.jpg);
  }

  .card {
    width: 100%;
  }
  .text-card {
    min-height: 400px;
  }

  .text-card p {
    font-size: 18px;
  }
  .text-card span {
    font-size: 18px;
  }

  .testimonials {
    padding: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .person {
    width: 80%;
    margin-bottom: 50px;
  }

  .person p {
    font-size: 18px;
  }

  .gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-image {
    width: 50%;
  }
  
}
